#wd-course-status-publish {
    margin: 0 0 10px;
    display: flex;
}

#wd-course-status-publish button {
    margin: 0 4px 0 0;
}

#wd-course-status {
    display: flex;
    flex-wrap: wrap;
    width: 200px
}