body {
    margin: 0;
    padding: 0;
}
body * {
    font-family: Arial, Helvetica, sans-serif;
}

#wd-kanbas-navigation {
    height: 100vh;
}

#wd-modules-controls .btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
}

#wd-modules .bg-secondary {
    background-color: #c7cdd1 !important;
}

.border-gray {
    border: 1px solid gray;
}

#wd-modules .wd-lesson {
    border-left: green solid 6px;
}

#wd-collapsed-courses-navigation > .list-group-item.active {
    color: black !important;
    background-color: white;
    border-left: 3px solid black !important;
    transition: 0.1s ease-in-out;
}
#wd-collapsed-courses-navigation >.list-group-item:hover {
    text-decoration: underline;
}

#wd-collapsed-courses-navigation >.list-group-item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#wd-collapsed-kanbas-navigation {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 768px;
}